{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('login') }}
    {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}

{% block body %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Login Form -->
            <form class="ui large form" action="{{ path('app_login') }}" method="post" >
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                <input type="submit" class="fadeIn fourth" value="Log In">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            </form>

        </div>
    </div>
    
{% endblock %}

{% block title %}

{% endblock %}