{% extends 'base-admin.html.twig' %}

{% block title %}Editar pregunta{% endblock %}

{% block body %}
    <h1>Editar pregunta</h1>

    {{ include('question/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('question/_delete_form.html.twig') }}
{% endblock %}
